<div>
  <div class="jumbotron">
        <div ng-repeat="contact in rolodex">
          <a ui-sref="{{resttype}}.contact({id:contact.id})">"id" : {{contact.id}}</a> <br />
          "gemTitle": {{contact.gemTitle}} <br />
          "company" : {{contact.company}} <br />
          "gemDescription": {{contact.gemDescription}} <br />
          "gemScore": {{contact.gemScore}} <br />
          "gemPrice": {{contact.gemPrice}} <br />
          "contactName" : {{contact.contactName}} <br />
          "contactInfo" : {{contact.contactInfo}} <br />
          "reviews": {{contact.reviews}} <br />
        <div>
      <hr/>
  </div>
<div>
